:root {
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --logo-color: #000000;
  --neutral-dark-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #ffffff;
  --primary-dark-color: #2f303a;
  --primary-light-color: #f5f4fa;
  --item-border-color: #eeeeee;
  --header-border-color: #ececec;
  --icon-color: #afb1b8;
  --footer-links-color: rgba(255, 255, 255, 0.1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--primary-white-color);
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-header {
  border-bottom: 1px solid var(--header-border-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  margin-right: 93px;
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.15;
  color: var(--logo-color);
}

.logo span {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
}

.nav-list .item:not(:last-child),
.contacts-list .item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding: 32px 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  color: var(--title-color);
}

.nav-link.current {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.contact-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  color: var(--text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.section.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-text {
  max-width: 700px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 30px;
}

.hero-button {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.87;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

.hero-button,
.filter-button {
  font-family: inherit;
  cursor: pointer;
}

.section {
  padding: 94px 0;
}

.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  color: var(--title-color);
  margin-bottom: 50px;
}

.section.features {
  padding-bottom: 0;
}

.features-list {
  display: flex;
  gap: 30px;
}

.feature {
  flex-basis: calc((100% - 90px) / 4);
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  background-color: var(--primary-light-color);
  border-radius: 4px;
  height: 120px;
}

.feature-icon {
  fill: var(--title-color);
}

.feature-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--title-color);
  margin-bottom: 10px;
}

.feature-text {
  line-height: 1.7;
}

.works-list {
  display: flex;
  gap: 30px;
}

.works-list .item {
  flex-basis: calc((100% - 60px) / 3);
}

.our-team {
  background-color: var(--primary-light-color);
}

.persons-list {
  display: flex;
  gap: 30px;
}

.person {
  flex-basis: calc((100% - 90px) / 4);
  font-size: 16px;
  line-height: 1.18;
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.person-description {
  text-align: center;
  padding: 30px;
}

.person-name {
  font-size: 16px;
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 10px;
}

.person-position {
  margin-bottom: 16px;
}

.icons-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--icon-color);
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.icon-item {
  fill: currentColor;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.client {
  width: calc((100% - 150px) / 6);
  height: 92px;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-color);
}

.client-icon {
  fill: currentColor;
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-button {
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.62;
  color: var(--title-color);
  background-color: var(--primary-light-color);
  border: none;
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.product-item {
  flex-basis: calc((100% - 60px) / 3);
}

.product {
  display: block;
  width: 100%;
  height: 100%;
}

.product:hover,
.product:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-description {
  padding: 20px 24px;
  border: 1px solid var(--item-border-color);
  border-top: none;
}

.product-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.product-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}

.page-footer {
  background-color: var(--primary-dark-color);
  padding: 60px 0;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-nav {
  margin-right: 70px;
}

.page-footer .logo {
  margin-right: 0;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.page-adress {
  font-style: normal;
  line-height: 1.71;
}

.adress-text {
  color: var(--primary-white-color);
  margin-bottom: 9px;
}

.footer-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.adress-link {
  color: var(--neutral-dark-color);
}

.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}

.footer-social {
  color: var(--primary-white-color);
}

.social-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social .icons-list {
  gap: 10px;
}

.footer-social .icon-link {
  background-color: var(--footer-links-color);
  color: var(--primary-white-color);
}

.footer-social .icon-link:hover,
.footer-social .icon-link:focus {
  background-color: var(--accent-color);
}
